* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul,
li {
  list-style-type: none;
}
.loader {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: 4px solid rgb(172, 172, 172);
  border-left: 4px solid rgb(172, 172, 172);
  border-right: 4px solid rgb(172, 172, 172);
  border-bottom: 4px solid rgba(0, 0, 255, 0);
  animation: spinner 1s ease-in-out infinite;
}

a {
  all: unset;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 250ms;
}
a:hover,
a:focus-within {
  color: gray;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
